<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.killkeyinterval</string>
    <key>ProgramArguments</key>
    <array>
        <string>*EDIT_THIS STEP 6-1*</string>
        <string>*EDIT_THIS STEP 6-2*</string>
    </array>
    <key>StandardOutPath</key>
    <string>*EDIT_THIS STEP 6-3*</string>
    <key>StandardErrorPath</key>
    <string>*EDIT_THIS STEP 6-4*</string>
    <key>StartInterval</key>
    <integer>*EDIT_THIS STEP 6-5*</integer>
</dict>
</plist>