#!/usr/bin/env python
device_uuid = "*STEP 4-1*"
the_call = "system_profiler"
the_arg = "SPUSBDataType"
the_command = "system_profiler SPUSBDataType"
logout = "launchctl bootout user/$(id -u *username STEP 4-2*)"